<section id="home" class="h40 d-flex align-items-center bg-healers section-padding mt-5 mt-md-0">
	<div class="container">
		<div class="row justify-content-center text-center">
			<div class="col-sm-12 col-lg-10">
				<h1 class="title text-shadow">Sanadores de deuda</h1>
			</div>
		</div>
	</div>
</section>
<section id="work" class="py-5 d-flex align-items-center h100">
	<div class="container">
		<div class="row">
			<div class="col mb-5">
				<h2 class="font-weight-bold h5 text-red">¿Qué es un sanador de deuda?</h2>
				<h5 class="font-weight-bold h5">Quiénes son los sanadores de deuda, y cómo funcionan - conoce sus ventajas y cómo pueden ayudarte. ¡Liquida tu deuda y accede a nuevos servicios!</h5>
				<p>Un sanador de deuda, es un prestador de servicios financieros, que ayuda a sus usuarios a liquidar una deuda vencida con grandes descuentos, con el fin de que mejoren su historial crediticio, para poder obtener nuevos productos y servicios financieros, y para evitar las molestas llamadas continuas de los bancos y prestamistas.</p>
				<h2 class="mb-0 font-weight-bold h5">¿Cómo operan los sanadores de deuda?</h2>
				<p>Cuando un usuario llega con un sanador de deuda, la empresa negocia con el prestador de servicios al cual el usuario le debe dinero, y compra su deuda. Es decir, el sanador le paga al prestamista/banco, una fracción del monto total de la deuda; después, el sanador de deuda, le cobra al cliente un monto un poco más alto, del que pagaron por la deuda.</p>
				<p>Por ejemplo:<br>
				Juanito le debe $50,000 pesos al banco. El sanador de deuda, habla negocia con el banco para comprar esa deuda. Como el banco ha estado por meses tratando de cobrarla, decide que mejor se la vende al sanador, y se olvida de ese “problema”. Llegan a un acuerdo entre el sanador de deuda y el banco, y venden la deuda en $10,000 pesos. Entonces, el sanador de deuda, va con Juan, y le ofrece liquidar su deuda, pagando únicamente $12,000 pesos. Para este momento, el banco obtuvo una ganancia, el sanador obtuvo una ganancia, y Juan obtuvo una ganancia.</p>
				<h2 class="mb-0 font-weight-bold h5">Características de un préstamo personal</h2>
				<ul class="list-none">
					<li> Puede ser otorgado a cualquier persona física tenga o no cuenta de depósito con el banco.</li>
					<li> El destino del crédito es específicamente para pagar deudas con instituciones financieras. El dinero nunca pasa por las manos del acreedor.</li>
					<li> Generalmente, este servicio se otorga a personas con deudas mayores a $30,000 pesos.</li>
					<li> Generalmente, el pago se puede hacer en 1, 3, 6, 12, 18 o 24 pagos mensuales, dependiendo del monto de la deuda, y de las características del solicitante.</li>
				</ul>
				<h2 class="mb-0 font-weight-bold h5">Ventajas de sanar una deuda</h2>
				<ul class="list-none">
					<li><strong><small><i class="la la-dot-circle-o"></i> </small></strong> Se terminan las llamadas telefónicas y correos electrónicos de los bancos y prestamistas para tratar de cobrar.</li>
					<li><strong><small><i class="la la-dot-circle-o"></i> </small></strong> Tanto el buró de crédito, como el círculo de crédito, cambian tu estatus de “deudor” a “al corriente”, lo que genera una mejoría notable en el historial crediticio del usuario, dándole la posibilidad de acceder a nuevos servicios y productos financieros.</li>
					<li><strong><small><i class="la la-dot-circle-o"></i> </small></strong> Algunos sanadores de deuda, otorgan otros servicios financieros a los usuarios (como tarjetas de crédito o préstamos), al momento de que realizan su pago.</li>
				</ul>
				<h2 class="mb-0 font-weight-bold h5">Requisitos para solicitar sanar una deuda</h2>
				<p>En el caso de los sanadores de deuda, los requisitos suelen ser totalmente diferentes a los que se solicitan al adquirir un préstamo personal o una tarjeta de crédito, ya que en este caso, el principal requisito, es que el cliente tenga una deuda. Un punto importante, es que el prestador de servicios tratará de asegurarse de que el solicitante cuenta con el ingreso/capital necesario, para pagar la deuda. En cuanto a la documentación que se requiere,  la mayoría de sanadores de deuda solicitan:</p>
				<ul class="list-none">
					<li>Identificación</li>
					<li>Comprobante de domicilio</li>
					<li>Comprobante de ingresos mínimo (recibos de nómina)</li>
				</ul>
				<p>Al presentar una solicitud con un sanador de deuda, el proceso tomará al rededor de 24 horas hábiles para saber si eres apto, y al rededor de 5 días hábiles para formalizar y terminar el proceso.</p>
				<h2 class="mb-0 font-weight-bold h5">Recomendaciones al adquirir un préstamo personal</h2>
				<ul class="list-none">
					<li><strong>1.</strong> Es importante tomar en cuenta que si el usuario no paga al sanador de deuda después de haber hecho una cuerdo, su historial crediticio quedará doblemente manchado, ya que aparecerá la deuda que tenía anteriormente con la institución financiera, y la deuda que tiene ahora con el sanador de deuda. Esto no quiere decir que el usuario tenga 2 deudas, pero en el historial crediticio aparecerán 2 deudas.</li>
					<li><strong>2.</strong> Como con cualquier producto o servicio financiero, te recomendamos leer muy bien el contrato antes de firmarlo, con el fin de que estés enterado de tus obligaciones al adquirir el servicio, y tus derechos como acreedor del servicio.</li>
					<li><strong>3.</strong> Es importante que antes de tomar cualquier decisión, estés enterado de qué es lo que estás adquiriendo, y te asegures de tener los recursos necesarios para pagar por el servicio.</li>
				</ul>
				<p>Los sanadores de deuda son una industria relativamente nueva en México, que está creciendo rápidamente, ya que son el único servicio que apoya a personas que están reportadas negativamente en el buró y círculo de crédito, y que funciona para que los usuarios puedan retomar una vida financiera sana.</p>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col col-sm-6 col-lg-4">
				<a href="/step1" class="btn btn-primary btn-block btn-rounded">
					<small>Obtén una oferta para sanar una deuda hoy mismo</small>
				</a>
			</div>
		</div>
	</div>
</section>
