<section id="home" class="h85 d-flex align-items-center bg-gradient2 section-padding">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-sm-12 col-lg-10 ">
        <h1 class="title">Elige el producto que deseas obtener</h1>
        <p class="subtitle text-white max700 mb-3">Elige la opción que deseas, contesta las preguntas, y nosotros te enviaremos con el producto perfecto para tí.</p>


        <div class="row justify-content-center">
          <div class="col-sm-6 col-lg-5">
            <div class="card-wini">
              <div class="header text-danger">
                <h2 class="h5 font-weight-bold  mb-0">Préstamos personales</h2>
                <i class="fas fa-money-check-alt fa-5x mt-4"></i>
              </div>
              <div class="content">
                <p class="">
                  <a href="/step1" class="btn btn-warning btn-lg btn-rounded font-weight-bold btn-block">Quiero un préstamo</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-5">
            <div class="card-wini">
              <div class="header text-primary">
                <h2 class="h5 font-weight-bold mb-0">Sanadores de deudas</h2>
                <i class="fas fa-hand-holding-heart fa-5x mt-4"></i>
              </div>
              <div class="content">
                <p class="">
                  <a href="/step1" class="btn btn-warning btn-lg btn-rounded font-weight-bold btn-block">Quiero pagar una deuda</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="work" class="section-padding d-flex align-items-center h100">
  <div class="container">
    <div class="row">
      <div class="col mb-5 text-center">
        <h2 class="font-weight-bold h2 text-red">Cómo funciona</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-lg-3 wow fadeIn" data-wow-delay="0.2s">
        <div class="row row-steps">
          <div class="col-4 col-sm-12">
            <img class="max60 mb-3" src="images/one.png" alt="paso 1">
          </div>
          <div class="col-8 col-sm-12">
            <h3 class="font-weight-bold text-uppercase h5 text-red">Paso 1</h3>
            <p>Elige la opción que deseas</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 wow fadeIn" data-wow-delay="0.8s">
        <div class="row row-steps">
          <div class="col-4 col-sm-12">
            <img class="max60 mb-3" src="images/two.png" alt="paso 2">
          </div>
          <div class="col-8 col-sm-12">
            <h3 class="font-weight-bold text-uppercase h5 text-red">Paso 2</h3>
            <p>Contesta las preguntas, te tomará 90 segundos</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 wow fadeIn" data-wow-delay="1.3s">
        <div class="row row-steps">
          <div class="col-4 col-sm-12">
            <img class="max60 mb-3" src="images/three.png" alt="paso 3">
          </div>
          <div class="col-8 col-sm-12">
            <h3 class="font-weight-bold text-uppercase h5 text-red">Paso 3</h3>
            <p>Al finalizar, te mostramos todas las opciones en las que serías aprobado</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 wow fadeIn" data-wow-delay="1.9s">
        <div class="row row-steps">
          <div class="col-4 col-sm-12">
            <img class="max60 mb-3" src="images/four.png" alt="paso 4">
          </div>
          <div class="col-8 col-sm-12">
            <h3 class="font-weight-bold text-uppercase h5 text-red">Paso 4</h3>
            <p>Haz clic en la que deseas y completa el cuestionario</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col col-sm-5 col-lg-3 text-center">
        <a href="/step1" class="btn btn-primary btn-rounded btn-lg mt-5 px-4">Quiero mi oferta</a>
      </div>
    </div>
  </div>
</section>
<section id="benefits" class="section-padding d-flex align-items-center h100 bg-gray">
  <div class="container">
    <div class="row">
      <div class="col mb-5 text-center">
        <h2 class="font-weight-bold h2 text-red">Beneficios</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-lg-4">
        <div class="block-shadow">
          <i class="fas fa-globe-americas mb-4"></i>
          <h2>Desde cualquier lugar</h2>
          <p>El proceso 100% por internet</p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="block-shadow">
          <i class="far fa-handshake mb-4"></i>
          <h2>Somos tu aliado</h2>
          <p>Ta acercamos al prestamista que más te conviene</p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="block-shadow">
          <i class="fas fa-file-invoice-dollar mb-4"></i>
          <h2>Proceso personalizado</h2>
          <p>Aplica una vez y obtén muchas opciones</p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="block-shadow">
          <i class="fas fa-shield-alt mb-4"></i>
          <h2>Seguridad Total</h2>
          <p>Sin fraudes, sin depósitos, sin miedo</p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="block-shadow">
          <i class="fas fa-medal mb-4"></i>
          <h2>100% confiable</h2>
          <p>Solo trabajamos con empresas serias y reguladas</p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="block-shadow">
          <i class="far fa-thumbs-up mb-4"></i>
          <h2>Servicio de calidad</h2>
          <p>Todos nuestros usuarios reciben una oferta</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col col-sm-5 col-lg-3 text-center">
        <a href="/step1" class="btn btn-primary btn-rounded btn-lg mt-5 px-4">Ir al cuestionario</a>
      </div>
    </div>
  </div>
</section>
