<section id="home" class="h40 d-flex align-items-center bg-loan section-padding mt-5 mt-md-0">
	<div class="container">
		<div class="row justify-content-center text-center">
			<div class="col-sm-12 col-lg-10">
				<h1 class="title text-shadow">Préstamos personales</h1>
			</div>
		</div>
	</div>
</section>
<section id="work" class="py-5 d-flex align-items-center h100">
	<div class="container">
		<div class="row">
			<div class="col mb-5">
				<h2 class="mb-0 text-bold h5 text-red">¿Qué es un préstamo personal?</h2>
				<h5 class="text-bold h5">Conoce las ventajas y desventajas de los préstamos personales | Aprende a evitar fraudes</h5>
				<p>Un préstamo personal es un producto financiero, que otorga una institución bancaria a un cliente al realizar una solicitud y cumplir con los requisitos solicitados. Después de cumplirse el plazo del préstamo estipulado en el contrato, el cliente deberá pagar a la institución bancaria, la cantidad del préstamo, más un interés, también estipulado en el contrato. De no hacerlo, la institución bancaria incrementará el interés día a día, y avisará a Buró y Círculo de Crédito, dejando una marca en tu historial crediticio.</p>
				<p>El monto mensual de interés, dependerá de 3 elementos:</p>
				<ul class="list-none">
					<li><strong>1.</strong> Capital del préstamo</li>
					<li><strong>2.</strong> Temporalidad del préstamo (en cuánto tiempo lo quieres pagar)</li>
					<li><strong>3.</strong> Tipo de interés del préstamo</li>
				</ul>
				<p>Mientras mayor sea el plazo, menor será el interés mensual, pero mayor será el monto total a pagar.</p>
				<h4 class="text-bold h5">Características de un préstamo personal</h4>
				<ul class="list-none">
					<li> El préstamo puede ser otorgado a cualquier persona, siempre y cuando realice la solicitud de préstamo, y esta sea aprobada</li>
					<li> El uso que el cliente haga del préstamo, es libre</li>
					<li> El interés puede variar, ser fijo, o ser mixto, dependerá del contrato y de las características del prestamista</li>
					<li> Dependiendo de la institución otorgante y del monto del préstamo, se podrán o no, pedir bienes como garantía</li>
				</ul>
				<h4 class="text-bold h5">Tipos de interés para préstamos personales</h4>
				<p>El interés, es el precio que la institución otorgante (el prestamista) cobra por prestar este dinero. En otras palabras, es el precio del servicio, y la ganancia que el prestamista obtendrá por prestar el dinero. El interés varía de acuerdo a muchos factores, y puede ser diario, semanal, mensual o anual.</p>
				<h4 class="text-bold h5">Interés fijo</h4>
				<p>Es el que mantiene siempre las mismas características durante el tiempo que el préstamo está vigente. Es decir, si tengo un interés fijo del 4%, no podrá subir ni bajar durante la vida del préstamo.</p>
				<h4 class="text-bold h5">Interés variable</h4>
				<p>Es el que está sujeto a cambios, en este modelo, el cliente se puede ver beneficiado si la tasa de interés baja, o se puede ver afectado, si la tasa sube. El hecho de que suba o baje, se determina cada año con  base al índice referencial presentado por BANXICO (Banco Nacional de México).</p>
				<h4 class="text-bold h5">Interés mixto</h4>
				<p>Es el que combina el interés fijo con el interés variable. Generalmente es para préstamo con plazos y cantidades grandes. Durante los primeros años se aplica un interés fijo, y con el paso del tiempo, el interés cambiará con base en el índice referencial.</p>
				<h4 class="text-bold h5">Temporalidad de los préstamos</h4>
				<p>Es el tiempo que eliges para pagar el préstamo, y dependerá del acuerdo al que llegues con la institución otorgante o el prestamista. Generalmente, mientras mayor sea el monto del préstamo, mayor será el plazo. Sin embargo hay ocasiones en los que el préstamo puede ser alto, y el plazo corto.</p>
				<h4 class="text-bold h5">Corto plazo</h4>
				<p>Son los que van desde algunos días, hasta 24 meses. Suelen ser préstamos fáciles de obtener, ya que el monto suele ser menor. Regularmente no es necesario presentar un aval. La garantía que los prestamistas tienen, son las características del usuario, como los ingresos mensuales.</p>
				<h4 class="text-bold h5">Mediano plazo</h4>
				<p>Son los que van de 1 a 5 años. El monto en este caso suele ser mayor al préstamo de corto plazo. Los prestamistas pueden solicitar al usuario presentar un aval o una garantía, con el fin de asegurarse de que no perderán el dinero prestado.</p>
				<h4 class="text-bold h5">Largo plazo</h4>
				<p>Son los que van de 5 a 15 o más años. Generalmente son préstamos con montos altos, como créditos hipotecarios. Los prestamistas solicitan un aval o garantía con características forzosas, como una propiedad con cierto valor comercial.</p>
				<h4 class="text-bold h5">Garantía</h4>
				<p>Es el instrumento que sirve a los prestamistas para proceder legalmente, en caso de que el cliente incumpla con los pagos estipulados en el contrato. En el caso de préstamos pequeños, generalmente se utiliza la garantía de reportar al buró de crédito, lo que complicaría al cliente en futuras solicitudes. En el caso de préstamos mayores, los prestamistas pueden proceder legalmente con los avales presentados por el usuario.</p>
				<h4 class="text-bold h5">Requisitos para solicitar un préstamo personal</h4>
				<p>Al solicitar un préstamo, el prestamista revisará las características del usuario, con el fin de conocer su capacidad de pago, es decir, revisarán si el solicitante es capaz de pagar el préstamo con sus ingresos, así como si su historial crediticio habla de personas que han pagado anteriormente.</p>
				<p>Los documentos que suelen requerir los prestamistas, son los siguientes:</p>
				<ul class="list-none">
					<li> Identificación oficial: IFE o INE, pasaporte vigente o acta de nacimiento.</li>
					<li> Comprobante de domicilio.</li>
					<li> Comprobante de ingresos (en algunas ocasiones).</li>
					<li> Garantías (factura de automóvil, escrituras de un inmueble, etc.).</li>
					<li> Referencias personales.</li>
					<li> Cartas patronales.</li>
				</ul>
				<p>Es importante mencionar, que la documentación dependerá del acuerdo al que se llegue con el prestamista. Generalmente, para préstamos personales pequeños, el proceso es muy rápido y la documentación es mínima.</p>
				<h4 class="text-bold h5">Formalización</h4>
				<p>Es la manera en la que tanto el cliente como el prestamista se comprometen a cumplir con las características de los préstamos. Casi siempre, es por medio de un contrato, en el que ambos firman, para que las dos partes tengan un documento legal que compruebe que estuvieron de acuerdo con las características del préstamo. Generalmente, cuando se trata de préstamos pequeños, el contrato se firma digitalmente, con el fin de agilizar el proceso, y que el cliente no tenga que trasladarse a una sucursal. Para estos, casos, el cliente deberá de tener una tarjeta bancaria de débito, para que el prestamista pueda depositar el dinero a la cuenta.</p>
				<h4 class="text-bold h5">Modalidades de préstamos</h4>
				<p>Son las diferentes maneras con las que los prestamistas ofrecen sus productos, y dependerán de las características de los préstamos que se ofrecen. Continuación te presentamos las maneras más comunes:</p>
				<h4 class="text-bold h5">Préstamo express</h4>
				<p>Son fáciles y rápidos de obtener, generalmente el monto no supera los 5 mil pesos. Quienes suelen otorgar estos préstamos, son financieras comunes, y sólo se piden documentos básicos y referencias.</p>
				<h4 class="text-bold h5">Préstamo online</h4>
				<p>Son fáciles y rápidos de obtener, y además, el usuario no debe de presentarse físicamente en una sucursal, pues todo el proceso es por internet. Los montos no suelen pasar los 10 mil pesos, y la documentación requerida será mínima, presentando fotografías de IFE ó INE, y autorizando a la institución a revisar el historial crediticio, que es la única garantía con la que los prestamistas cuentan.</p>
				<h4 class="text-bold h5">Préstamo bancario</h4>
				<p >Son los más comunes, se realizan en una sucursal física del banco. El usuario debe de solicitarlo a un ejecutivo especializado, y las garantías dependerán del monto del préstamo, que varía desde los 10 mil hasta millones de pesos, historial y saldo promedio del usuario.</p>
				<p>Es mucho más fácil obtener uno de estos préstamos cuando el usuario tiene una cuenta bancaria con esta institución.</p>
				<h4 class="text-bold h5">Préstamos informales</h4>
				<p>Son los que suelen utilizar las personas que tienen una o varias marcas negativas en su historial crediticio, por lo que ya no son aptas para obtener instrumentos financieros con una institución formal. Estos prestamistas son personas físicas, y no están reguladas. De hecho, no son totalmente legales, y suelen tener mucho riesgo, ya que generalmente los prestamistas solicitan depósitos, y después no otorgan el préstamo, argumentando que no cuentan con las características. O simplemente desaparecen.</p>
				<h4 class="text-bold h5">Recomendaciones al adquirir un préstamo personal</h4>
				<ul class="list-none">
					<li> Definir muy bien el uso que darás al préstamo, y si eres capaz de pagar en el plazo y la cantidad acordadas. Ya que en caso de no pagar, tu historial crediticio se verá afectado, y después te será más complicado adquirir productos financieros.</li>
					<li> Investigar que la institución otorgante sea confiable y esté regulada, con el fin de evitar fraudes.  <strong>Recuerda que en wini.mx, sólo trabajamos con empresas serias, justas, reales y reguladas.</strong></li>
					<li> Nunca firmes un contrato sin antes leerlo completo, recuerda que es ahí en donde se definirán todas las condiciones del préstamo, y al leerlo, estarás seguro de que te estás comprometiendo con algo que tienes en mente.</li>
				</ul>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col col-sm-6 col-lg-4">
				<a href="/step1" class="btn btn-primary btn-block btn-rounded">
					<small>Obtener mi préstamo hoy</small>
				</a>
			</div>
		</div>
	</div>
</section>
