<section id="home" class="h100 d-flex align-items-center bg-gradient2 section-padding">
	<div class="container">
		<div class="row justify-content-center text-center">
			<div class="col-sm-12 col-lg-10 ">
				<h1 class="title">¡Felicidades!</h1>
				<p class="subtitle text-white max700 mb-3">Revisamos tus datos, y cumples con los requisitos para solicitar cualquiera de estas opciones:</p>


				<div class="row justify-content-center">
					<div class="col-sm-6 col-lg-6">
						<div class="card-wini">
							<div class="content">
								<img class="max80 mb-4" src="images/logos/kueski.png" alt="Kueski">
								<ul class="no-style mb-4">
									<li><i class="fas fa-check"></i> Préstamos rápidos y seguros</li>
									<li><i class="fas fa-check"></i> Sin depósitos ni pagos por adelantado</li>
									<li><i class="fas fa-check"></i> Probabilidad de aprobación alta</li>
								</ul>
								<p class="">
									<a href="https://online.adservicemedia.dk/cgi-bin/click.pl?pid=27774&cid=8377" class="btn btn-warning btn-lg btn-rounded font-weight-bold btn-block">Solicitar <i class="fas fa-arrow-right ml-3"></i></a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
