<section id="form" class="h40 d-flex align-items-center bg-gradient2 section-padding"></section>
<section id="process" class="bg-gray section-padding-b">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-sm-8 col-lg-7">
				<div class="card-wini card-form">
					<div class="header bg-red text-white">
						<h1 class="h6">Sin importar tus respuestas, encontraremos un préstamo para ti. Responde honestamente a estas 5 preguntas</h1>
					</div>
					<div class="content p-4">
						<h4 class="h6 font-weight-bold text-center">¿Por qué quieres un producto financiero?</h4>
						<div class="radio-tile-group text-center">

							<div class="input-container">
								<input class="radio-button" type="radio" name="radio" />
								<div class="radio-tile">
									<label for="walk" class="radio-tile-label">Comprar un coche</label>
								</div>
							</div>
							<div class="input-container">
								<input class="radio-button" type="radio" name="radio" />
								<div class="radio-tile">
									<label for="walk" class="radio-tile-label">Comprar una casa</label>
								</div>
							</div>
							<div class="input-container">
								<input class="radio-button" type="radio" name="radio" />
								<div class="radio-tile">
									<label for="walk" class="radio-tile-label">Para invertir en un negocio</label>
								</div>
							</div>
							<div class="input-container">
								<input class="radio-button" type="radio" name="radio" />
								<div class="radio-tile">
									<label for="walk" class="radio-tile-label">Para abrir un negocio nuevo</label>
								</div>
							</div>
							<div class="input-container">
								<input class="radio-button" type="radio" name="radio" />
								<div class="radio-tile">
									<label for="walk" class="radio-tile-label">Para pagar otro préstamo</label>
								</div>
							</div>
							<div class="input-container">
								<input class="radio-button" type="radio" name="radio" />
								<div class="radio-tile">
									<label for="walk" class="radio-tile-label">Para pagar una tarjeta de crédito</label>
								</div>
							</div>
							<div class="input-container">
								<input class="radio-button" type="radio" name="radio" />
								<div class="radio-tile">
									<label for="walk" class="radio-tile-label">Para pagar una boda</label>
								</div>
							</div>
							<div class="input-container">
								<input class="radio-button" type="radio" name="radio" />
								<div class="radio-tile">
									<label for="walk" class="radio-tile-label">Para pagar unos XV años</label>
								</div>
							</div>
							<div class="input-container">
								<input class="radio-button" type="radio" name="radio" />
								<div class="radio-tile">
									<label for="walk" class="radio-tile-label">Para organizar una fiesta</label>
								</div>
							</div>
							<div class="input-container">
								<input class="radio-button" type="radio" name="radio" />
								<div class="radio-tile">
									<label for="walk" class="radio-tile-label">Para una celebración religiosa</label>
								</div>
							</div>
							<div class="input-container">
								<input class="radio-button" type="radio" name="radio" />
								<div class="radio-tile">
									<label for="walk" class="radio-tile-label">Para comprar electrodomésticos</label>
								</div>
							</div>
							<div class="input-container">
								<input class="radio-button" type="radio" name="radio" />
								<div class="radio-tile">
									<label for="walk" class="radio-tile-label">Para comprar ropa o accesorios</label>
								</div>
							</div>
							<div class="input-container">
								<input class="radio-button" type="radio" name="radio" />
								<div class="radio-tile">
									<label for="walk" class="radio-tile-label">Para pagar un viaje</label>
								</div>
							</div>
							<div class="input-container">
								<input class="radio-button" type="radio" name="radio" />
								<div class="radio-tile">
									<label for="walk" class="radio-tile-label">Para razones médicas</label>
								</div>
							</div>
							<div class="input-container">
								<input class="radio-button" type="radio" name="radio" />
								<div class="radio-tile">
									<label for="walk" class="radio-tile-label">Para irme de compras</label>
								</div>
							</div>
							<div class="input-container">
								<input class="radio-button" type="radio" name="radio" />
								<div class="radio-tile">
									<label for="walk" class="radio-tile-label">Para emergencias</label>
								</div>
							</div>
							<div class="input-container">
								<input class="radio-button" type="radio" name="radio" />
								<div class="radio-tile">
									<label for="walk" class="radio-tile-label">Para comprar muebles</label>
								</div>
							</div>
							<div class="input-container">
								<input class="radio-button" type="radio" name="radio" />
								<div class="radio-tile">
									<label for="walk" class="radio-tile-label">Para comprar electrónicos</label>
								</div>
							</div>
							<div class="input-container">
								<input class="radio-button" type="radio" name="radio" />
								<div class="radio-tile">
									<label for="walk" class="radio-tile-label">Para pagar estudios</label>
								</div>
							</div>
							<div class="input-container">
								<input class="radio-button" type="radio" name="radio" />
								<div class="radio-tile">
									<label for="walk" class="radio-tile-label">Para reparaciones</label>
								</div>
							</div>
							<div class="input-container">
								<input class="radio-button" type="radio" name="radio" />
								<div class="radio-tile">
									<label for="walk" class="radio-tile-label">Por otro motivo</label>
								</div>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col">
								<a href="/step6" class="btn btn-light btn-rounded font-weight-bold btn-block"><i class="fas fa-angle-double-left mr-2"></i> Regresar</a>
							</div>
							<div class="col">
								<a href="/step8" class="btn btn-warning btn-rounded font-weight-bold btn-block">Siguiente <i class="fas fa-angle-double-right ml-2"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/js/angular.min.js"></script>
	<script src="/js/app.js"></script>
</section>
